* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #E37E91;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/bg.png); 
    background-size: cover;
    background-position: center;
    filter: blur(2px); 
    z-index: -1; 

}


.card {
    background-color: #FF8DA3;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

.image-section {
    background: url("https://i.pinimg.com/originals/71/47/62/71476294e8d1bfb9ae869acdd28e60b0.gif") no-repeat center;
    background-size: cover;
    height: 150px;
    border-radius: 10px;
    position: relative;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.button-section {
    margin-top: 15px;
}

.btn {
    background-color: #FFDAF1;
    border: none;
    color: #E37E91;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #fe5a78;
    color: #FFDAF1;
    transform: translateY(-3px);
}
